<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgit.dao.AnswerDao">
	<resultMap type="Answer" id="answerResult">
		<result property="qNo" column="qa_no"/>
		<result property="aContent" column="an_content"/>
		<result property="aDate" column="an_date"/>	
	</resultMap>
	
	<update id="updateAnswer">
		update answer set an_content=#{aContent}  where qa_no=#{qNo}
	</update>
	
	<insert id="insertAnswer">
			insert into answer values
				(#{qNo},#{aContent},#{aDate})
	</insert>

	<select id="selectAnswer" resultType="String">
		select qa_no from answer
	</select>
	
	<delete id="deleteAnswer">
		delete from answer where qa_no =#{qNo}
	</delete>
</mapper>