<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgit.dao.ForestDao">
	<resultMap type="Forest" id="forestResult">
		<result property="forNo" column="for_no"/>
		<result property="forName" column="for_name"/>
		<result property="forDetail" column="for_detail"/>
		<result property="forHomepage" column="for_homepage"/>
		<result property="forPost" column="for_post"/>
		<result property="forPhone" column="for_phone"/>
		<result property="forPic" column="for_pic"/>
		<result property="forLatitude" column="for_latitude"/>
		<result property="forLongitude" column="for_longitude"/>
		<result property="dNo" column="d_no"/>
	</resultMap>
	<resultMap type="Forest" id="forestDistrictResult" extends="forestResult">
		<result property="district.dNo" column="d_no"/>
		<result property="district.dSido" column="d_sido"/>
	</resultMap>
	
	<!-- 메인슬라이드전국 -->
	<select id="selectListAllForest" resultMap="forestResult">
		select * from forest
	</select>
	
	<!-- 메인슬라이드서울경기 -->
	<select id="selectListSGyeonggi" resultMap="forestResult">
		select * from forest where d_no='02031'
	</select>
	
	<!-- 메인슬라이드강원 -->
	<select id="selectListGangwon" resultMap="forestResult">
		select * from forest where d_no='033'
	</select>
	<!-- 메인슬라이드충북 -->
	<select id="selectListChungbuk" resultMap="forestResult">
		select * from forest where d_no='043'
	</select>
	<!-- 메인슬라이드충남 -->
	<select id="selectListChungnam" resultMap="forestResult">
		select * from forest where d_no='041'
	</select>
	<!-- 메인슬라이드전북 -->
	<select id="selectListJeonbuk" resultMap="forestResult">
		select * from forest where d_no='063'
	</select>
	<!-- 메인슬라이드전남 -->
	<select id="selectListJeonnam" resultMap="forestResult">
		select * from forest where d_no='061'
	</select>
	<!-- 메인슬라이드경북 -->
	<select id="selectListGyeongbuk" resultMap="forestResult">
		select * from forest where d_no='054'
	</select>
	<!-- 메인슬라이드경남 -->
	<select id="selectListGyeongnam" resultMap="forestResult">
		select * from forest where d_no='055'
	</select>
	
	<!-- 휴양림안내전국 -->
	<select id="selectIntroAllForest" resultMap="forestDistrictResult">
		select * from forest as f left join district as d on d.d_no=f.d_no
	</select>
	
	<!-- 휴양림안내 서울/경기 -->
	<select id="selectIntroSGyeonggi" resultMap="forestDistrictResult">
		select * from forest as f left join district as d on d.d_no=f.d_no where f.d_no='02031'
	</select>
	
	<!-- 휴양림안내 강원 -->
	<select id="selectIntroGangwon" resultMap="forestDistrictResult">
		select * from forest as f left join district as d on d.d_no=f.d_no where f.d_no='033'
	</select>
	
	<!-- 휴양림안내 충북 -->
	<select id="selectIntroChungbuk" resultMap="forestDistrictResult">
		select * from forest as f left join district as d on d.d_no=f.d_no where f.d_no='043'
	</select>
	
	<!-- 휴양림안내 충남 -->
	<select id="selectIntroChungnam" resultMap="forestDistrictResult">
		select * from forest as f left join district as d on d.d_no=f.d_no where f.d_no='041'
	</select>
	
	<!-- 휴양림안내 전북 -->
	<select id="selectIntroJeonbuk" resultMap="forestDistrictResult">
		select * from forest as f left join district as d on d.d_no=f.d_no where f.d_no='063'
	</select>
	
	<!-- 휴양림안내 전남 -->
	<select id="selectIntroJeonnam" resultMap="forestDistrictResult">
		select * from forest as f left join district as d on d.d_no=f.d_no where f.d_no='061'
	</select>
	
	<!-- 휴양림안내 경북 -->
	<select id="selectIntroGyeongbuk" resultMap="forestDistrictResult">
		select * from forest as f left join district as d on d.d_no=f.d_no where f.d_no='054'
	</select>
	
	<!-- 휴양림안내 경남 -->
	<select id="selectIntroGyeongnam" resultMap="forestDistrictResult">
		select * from forest as f left join district as d on d.d_no=f.d_no where f.d_no='055'
	</select>
	
	<!-- 휴양림/지역 검색 -->
	<sql id="selectChooseSql">
		select * from forest as f left join district as d on d.d_no=f.d_no
	</sql>
	<sql id="chooseSql">
		<choose>
			<when test="searchBy=='forName'">
				where for_name like CONCAT(#{forName}, "%")
			</when>
			<when test="searchBy=='dSido'">
				where d_sido like CONCAT(#{dSido}, "%")
				
			</when>
		</choose>
	</sql>
	
	<select id="selectSearchByForest" parameterType="map" resultMap="forestDistrictResult">
		<include refid="selectChooseSql"/>
		<include refid="chooseSql"/>
	</select>
	
	<!-- 휴양림 추가 -->
	<insert id="insertForestIntro" parameterType="forest">
		insert into forest(for_name, for_detail, for_homepage, for_post, for_phone, for_pic, for_latitude, for_longitude, d_no)
		values(#{forName},#{forDetail},#{forHomepage},#{forPost},#{forPhone},#{forPic},#{forLatitude},#{forLongitude},#{dNo});
	</insert>
</mapper>