<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgit.dao.NoticeBoardDao">
<!-- 
	private int nb_no;
	private String nb_title;
	private Date nb_date;
	private int nb_count;
	private String nb_countent;
	
 -->
	<select id="selectNoticeAll" parameterType="Notice" resultType="Notice">
		select * from notice order by nb_no desc;
	</select>
	
	<select id="selectNoticeNo" parameterType="Notice" resultType="Notice">
		select * from notice where nb_no=#{nb_no};
	</select>
	<insert id="insertNotice" parameterType="Notice">
		insert into notice values(#{nb_no},#{nb_title},#{nb_date},#{nb_count},#{nb_content});
	</insert>
	
	<select id="selectBoardCount" resultType="int">
		select count(*) from notice;
	</select>
	<update id="updateCount">
		update notice set nb_count= nb_count+1 where nb_no=#{nb_no};
	</update>
	
</mapper>