<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgit.dao.QuestionDao">
	<resultMap type="Question" id="questionResult">
		<result property="qNo" column="qa_no"/>
		<result property="qTitle" column="qa_title"/>
		<result property="qContent" column="qa_content"/>
		<result property="qUpload" column="qa_upload"/>
		<result property="qCount" column="qa_count"/>
		<result property="qState" column="qa_state"/>
		<result property="qDate" column="qa_date"/>
	</resultMap>

	
	<resultMap type="Question" id="QAssociationName" extends="questionResult">
		 <association property="user" resultMap="com.dgit.dao.UserDao.UserResult"></association> 
	</resultMap>
	
	
	<select id="selectAllQuestion" resultMap="QAssociationName">
		select q.qa_no,qa_title,qa_content,qa_upload,qa_count,qa_state,qa_date,u.u_id,u.u_name from question q
		left join user u on u.u_id=q.u_id order by q.qa_no desc
	</select>
	
	<resultMap type="Question" id="QAssociation" extends="questionResult">
		 <association property="user" resultMap="com.dgit.dao.UserDao.UserResult"></association> 
		 <association property="answer" resultMap="com.dgit.dao.AnswerDao.answerResult"></association> 
	</resultMap>
	
	<select id="selectAllQuestionLimit" resultMap="QAssociation">
		select q.qa_no,qa_title,qa_content,qa_upload,qa_count,qa_date,qa_state,u.u_id,u.u_name,a.an_content,a.an_date from question q
		left join user u on u.u_id=q.u_id left join answer a on a.qa_no=q.qa_no
		where q.qa_no=#{qNo}
	</select>
	
	<select id="selectQCount" resultType="int" >
		select count(*) from question
	</select>
	
	<insert id="insertQuestion" parameterType="Question">
		insert into question values
		(#{qNo},#{qTitle},#{qContent},#{qUpload},#{qCount},#{qState},#{qDate},#{user.uId})
	
	</insert>
	
	
	<update id="updateQCount">
		update question set qa_count =qa_count+1 where qa_no=#{qNo}
	</update>
	
	<delete id="deleteQuestion">
		delete from question where qa_no=#{qNo}
	</delete>
	
	<update id="updateQuestion">
		update question set qa_title =#{qTitle},qa_content=#{qContent},qa_upload=#{qUpload} where qa_no=#{qNo}
	</update>
	
	
	
	<sql id="selectChoosesql">
		select q.qa_no,qa_title,qa_content,qa_upload,qa_count,qa_state,qa_date,u.u_id,u.u_name from question q
		left join user u on u.u_id=q.u_id 
	</sql>
	
	 <sql id="chooseSql">
		<choose>
			<when test="searchBy=='uName'">
				 where u_name=#{uName} order by q.qa_no desc
			</when>
			<when test="searchBy=='qTitle'">
				 where qa_title like #{qTitle} order by q.qa_no desc
			</when>	
		</choose>
	</sql>
	
	
	<select id="selectChooseQuestion" parameterType="map" resultMap="QAssociationName">
		<include refid="selectChoosesql"/>
		<include refid="chooseSql"/>
	</select> 
	
</mapper>