<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgit.dao.ReservationDao">
<!-- 
	private String res_no;
	private Date res_save;
	private Date res_now;
	private int res_state;
	private Date res_paydate;
	private Date res_startdate;
	private Date res_enddate;
	private Date res_stay;
	private int res_price;
	private int res_his;
	private int fprice;
	private String res_forname;
	private int r_no;
	private String u_id;
 -->

	<select id="selectReservationById" parameterType="Reservation" resultType="Reservation">
		select * from reservation where u_id = #{u_id};
	</select>
	<select id="selectReservationByIdCount" parameterType="Reservation" resultType="Reservation">
		select * from reservation where res_his = #{res_his} and u_id = #{u_id};
	</select>
	<update id="updateReshis" parameterType="Reservation">
		update reservation set res_his=#{res_his} where res_no = #{res_no};
	</update>
	
	<select id="selectById" parameterType="ReservationRoom" resultType="ReservationRoom">		
		select * from reservation r, room m where r.r_no = m.r_no and r.u_id = #{u_id};
	</select>
	
	
	<select id="selectReservationinquiryById" parameterType="Reservation" resultType="Reservation">
		select * from reservation where res_no = #{res_no};
	</select>
	<delete id="deleteByNoId" parameterType="Reservation">
		delete from reservation where res_no = #{res_no} and u_id = #{u_id};
	</delete>
	
	<update id="updateCompleteDate" parameterType="Reservation">
		update reservation set completedate = #{completedate} where res_no = #{res_no};
	</update>
	
	<update id="updateResCancelDate" parameterType="Reservation">
		update reservation set res_canceldate = #{res_canceldate} where res_no = #{res_no};
	</update>
	
	
	
	<!-- 모든 예약 현황 불러오기 -->
	<select id="selectReservationByAll" parameterType="ReservationRoom" resultType="ReservationRoom">
		select * from reservation res left outer join room r on res.r_no = r.r_no 
	</select>
	
	<!-- 아이디 검색 -->
	<select id="selectReservationRoomById" parameterType="ReservationRoom" resultType="ReservationRoom">
		select * from reservation res left outer join room r on res.r_no = r.r_no where u_id=#{u_id} and res_no=#{res_no}
	</select>
	
	<!-- 예약 수정 -->
	<update id="updateReservationById" parameterType="Reservation">
		update reservation
		set res_startdate=#{res_startdate} , res_enddate=#{res_enddate}, res_stay=#{res_stay}
		where u_id =#{u_id} and res_no =#{res_no};
	</update>
	
</mapper>