<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgit.dao.ResevepaymentDao">
<!-- 
	private String pay_no;
	private String bankname;
	private String bankusername;
	private String banknum;
	private String res_no;
	
 -->

	<insert id="insertResevepayment" parameterType="Resevepayment">
		insert into resevepayment values(#{pay_no},#{bankname},#{bankusername},#{banknum},#{res_no});
	</insert>
	
	<delete id="deleteresevepaymentByNoId" parameterType="Resevepayment">
		delete from resevepayment where res_no = #{res_no};
	</delete>
</mapper>