<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgit.dao.ReservationDao">
<!-- 
	private int number;
	private String id;
	private String name;
	private String title;
	private Date regDate;
	private Date modifiedDate;
	private int readCount;
	
	
	private int number;
	private String content;
 -->

	<select id="selectReservationById" parameterType="Reservation" resultType="Reservation">
		select * from reservation where u_id = #{u_id};
	</select>
	
	
</mapper>