<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgit.dao.RoomDao">

	<sql id="whereReservationSql">
		<where>
			<if test="dis != null">
				f.d_no = #{dis}
			</if>
			<if test="homepage != null">
				and
				<foreach collection="homepage" item="home" index="index" open="(" close=")" separator=" or ">
					for_homepage like #{home}
		       	</foreach>
			</if>
			<if test="arrFac != null">
				and 
				<foreach collection="arrFac" item="fac" index="index" separator=" or " open="(" close=")">
		            fac_no = #{fac}
		        </foreach>
			</if>
			<if test="inwon != null">
				and r_pax >= #{inwon}
			</if>
			<if test="dayList != null">	
				and			
				<foreach collection="dayList" item="day" index="index" separator=" and " open="(" close=")">
					r_no not in(select r_no from reservation where #{day} between res_startdate and res_enddate)
				</foreach>
			</if>
       	</where>
	</sql>
	<sql id="selectReservationSql">
		select r.r_no, r.r_name, r.r_explan, r.r_pax, r.r_phone, r.r_pic, r.r_price,
		f.for_no, f.for_name, f.for_homepage, f.for_detail, f.for_phone, f.for_pic, f.for_post, r.fac_no
		from room as r left outer join forest as f
		on r.for_no = f.for_no
	</sql>
	
	<sql id="dateSql">
		<where>
			<foreach collection="dayList" item="day" index="index">
				<if test="day != null">
					or (#{day} between res_startdate and res_enddate)
				</if>			
			</foreach>
		</where>
	</sql>	

	<select id="selectByAll" parameterType="map" resultType="Room">
		<include refid="selectReservationSql" />
		<include refid="whereReservationSql" />		
	</select>
	
	<!-- 휴양림/지역 검색 -->
	<sql id="selectSearchSql">
		select * from reservation res left outer join room r on res.r_no = r.r_no
	</sql>
	
	<sql id="searchSql">
		<choose>
			<when test="searchBy=='res_no'">
				where res_no=#{res_no}
			</when>
			<when test="searchBy=='id'">
				where u_id=#{id}
			</when>
		</choose>
	</sql>
	
	
	<!-- 조건별 검색 -->
	<select id="selectSearchByReservationRoom" parameterType="ReservationRoom" resultType="ReservationRoom">
		<include refid="selectSearchSql" />
		<include refid="searchSql" />
	</select>
	
	
	
	
	
	
	
	<select id="selectRoomByNO" parameterType="Room" resultType="Room">
		select r.* from room r, reservation s where r.r_no = #{r_no} and s.res_no = #{res_no};
	</select>
</mapper>