<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgit.dao.RoomDao">
	<select id="selectByAll" parameterType="Room" resultType="Room">
		select * from room r, forest f where r.for_no=f.for_no
	</select>
</mapper>