<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgit.dao.UserDao">
	<resultMap type="User" id="userResult">
		<result property="uId" column="u_id"/>
		<result property="uName" column="u_name"/>
		<result property="uPassword" column="u_password"/>
		<result property="uPhone" column="u_phone"/>
		<result property="uEmail" column="u_email"/>
		<result property="uAddress" column="u_address"/>
		<result property="uDate" column="u_joindate"/>
		<result property="utf" column="u_tf"/>
	</resultMap>
	
	
	<resultMap type="User" id="UserResult">
		<result property="uId" column="u_id"/>
		<result property="uName" column="u_name"/>
	</resultMap>
	
	<select id="SelectById" resultMap="userResult">
		select * from user where u_id=#{uId}
	</select>
	
	<insert id="insertUser">
		insert into user values
		(#{uId},#{uName},#{uPassword},#{uPhone},#{uEmail},#{uAddress},#{uDate},#{utf})
	</insert>
	
	<select id="searchById" resultMap="userResult">
		select u_id,u_name,u_password,u_phone,u_email,u_address,u_joindate from user 
		where u_name=#{uName} and u_email=#{uEmail} and u_tf=#{utf}
	</select>
	<select id="searchByPassword" resultMap="userResult">
		select u_id,u_name,u_password,u_phone,u_email,u_address,u_joindate from user 
		where u_id=#{uId} and u_email=#{uEmail} and u_tf=#{utf}
	</select>
	
	<update id="updateUserPassword">
		update  user set u_password =#{uPassword} where u_id=#{uId}
	</update>
	
	<update id="updateUser">
		update  user set u_phone =#{uPhone} , u_email=#{uEmail},u_address=#{uAddress} where u_id=#{uId}
	</update>
	
	<select id="selectAllUser" resultMap="userResult">
		select u_id,u_name,u_phone,u_email,u_address,u_joindate from user order by u_joindate desc
	</select>
	
	<select id="selectAllUserLimit" resultMap="userResult">
		select u_id,u_name,u_phone,u_email,u_address,u_joindate from user order by u_joindate desc
	</select>
	
	<sql id="selectChoosesql">
		select u_id,u_name,u_phone,u_email,u_address,u_joindate from user 
	</sql>
	<sql id="chooseSql">
		<choose>
			<when test="searchBy=='uId'">
				 where u_id=#{uId}
			</when>
			<when test="searchBy=='uName'">
				 where u_name like #{uName}
			</when>
			<when test="searchBy=='uPhone'">
				 where u_phone=#{uPhone}
			</when>
		</choose>
	</sql>
	
	<select id="selectChooseUser" parameterType="map" resultMap="userResult">
		<include refid="selectChoosesql"/>
		<include refid="chooseSql"/>
	</select>
	
</mapper>