@CHARSET "UTF-8";
/* 공통 */
html {
    font: normal 13px/150% 'ntk','Malgun Gothic',"맑은 고딕",'Helvetica neu', Arial, 'Arial', 'Apple SD Gothic';
    letter-spacing: -0.5px;
}
body {
    margin: 0px;
    padding: 0px;
    color: #333;
}
div, p, ol, ul, li, img, a, form, span, iframe, dl, dt, dd {
    margin: 0px;
    padding: 0px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #333;
}
h1, h2, h3, h4, h5, h6 {
    font: 700 13px/150% 'ntk','Malgun Gothic',"맑은 고딕",'Helvetica neu', Arial, 'Arial', 'Apple SD Gothic';
    letter-spacing: -0.5px;
    margin: 0px;
    padding: 0px;
}
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption, summary, canvas {
    display: block;
}
.blind, legend {
    display: block;
    overflow: hidden;
    position: absolute;
    top: -1000em;
    left: 0;
}

