@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

#introForest {
	width: 1180px;
	margin: 0 auto;
	height: 545px;
	
	margin-bottom: 20px;
	overflow: hidden;
	position: relative;
}
#introForest >h1 {
	font-size: 28px;
	padding:10px;
}
#introForest #introForest_innerline {
	width: 1180px;
	margin: 0 auto;
	height: 1px;
	background-color: #797d89;
}
#introForest >p {
	font-size: 13px;
	margin-top: 40px;
	margin-left: 30px;
	margin-bottom: 20px;
	color: #6089d0;
}
#introForest >p >img {
	position: absolute;
	top: 103px;
	left:10px;
	
}


#introForest > #map{
	width:1180px;
	height:400px;
	
	overflow: hidden;
}

#introForest_details {
	width: 1180px;
	margin: 0 auto;
	min-height: 630px;
	/* border:5px solid green; */
	
}
#introForest_details #introForest_menu{
	width: 1180px;
	margin: 0 auto;
	height: 50px;
}
#introForest_details #introForest_menu #introForest_ul{
	width: 1180px;
	margin: 0 auto;
	height: 50px;
	
}
#introForest_details #introForest_menu #introForest_ul li{
	width: 11%;
	margin: 0 auto;
	height: 50px;
	float: left;

	
}
#introForest_details #introForest_menu #introForest_ul li a{
	display:inline-block;
	width: 100%;
	text-align:center;
	height: 50px;
	line-height:50px;
	color:black;
	font-weight: bold;
	font-size: 15px;
	letter-spacing: -2px;
}


#introForest_details #introForest_menu #introForest_ul li.on a{
	background-color: #797d89;
	color:white;
	border:3px solid #6089d0;
	border-radius: 2px;
}
#introForest_details #introForest_menu #introForest_innerline{
	width:1175px;
	margin:0 auto;
	height:2px;
	background-color: #797d89;
	margin-top:5px;
	margin-right: 15px;
	
}
/*--------------------------- 휴양림별 이미지 ---------------*/
#introForest_details > .introForest_pic{
	width:1180px;
	margin:0 auto;
	min-height:640px;
	/* border:1px solid red; */
	margin-top: 15px;
	overflow: hidden; 
}
#introForest_details > #introAllForest{
	width:1180px;
	margin:0 auto;
	min-height:2000px;
	/* border:1px solid red; */
	margin-top: 15px;
	overflow: hidden;
	
}
#introForest_details > .introForest_pic > .introForest_pic_ul{
	width:1160px;
	margin:0 auto;
	/* border:3px solid red; */
	min-height:630px;
	overflow: hidden;
}

#introForest_details > .introForest_pic > .introForest_pic_ul > li{
	width:23.7%;
	float:left;
	height:300px;
	margin:7px;
}
#introForest_details > .introForest_pic > .introForest_pic_ul li .intro_container{
	overflow: hidden;
	width:100%;
	height:300px;
	
}
#introForest_details > .introForest_pic > .introForest_pic_ul li .intro_container .intro_top{
	width:100%;
	height: 170px;
	
	position: relative;
}
#introForest_details > .introForest_pic > .introForest_pic_ul li .intro_container .intro_top img{
	width:100%;
	height: 170px;
	
}
#introForest_details > .introForest_pic > .introForest_pic_ul li .intro_container .intro_top span{
	padding:11px;
	background-color: #845ed1;
	color:white;
	font-weight: bold;
	font-size: 14px;
	position: absolute;
	bottom: 0;
	left: 0;
	letter-spacing: -2px;
}
#introForest_details > #introAllForest > .introForest_pic_ul li .intro_container .intro_top #sGyeonggi{
	background-color: #00935d;
}
#introForest_details > #introAllForest > .introForest_pic_ul li .intro_container .intro_top #gangwon{
	background-color: #845ed1;
}
#introForest_details > #introAllForest > .introForest_pic_ul li .intro_container .intro_top #chungbuk{
	background-color: #6089d0;
}
#introForest_details > #introAllForest > .introForest_pic_ul li .intro_container .intro_top #chungnam{
	background-color: #3d9acc;
}
#introForest_details > #introAllForest > .introForest_pic_ul li .intro_container .intro_top #jeonbuk{
	background-color: #9d8b76;
}
#introForest_details > #introAllForest > .introForest_pic_ul li .intro_container .intro_top #jeonnam{
	background-color: #29bdaa;
}
#introForest_details > #introAllForest > .introForest_pic_ul li .intro_container .intro_top #gyeongbuk{
	background-color: #d56b98;
}
#introForest_details > #introAllForest > .introForest_pic_ul li .intro_container .intro_top #gyeongnam{
	background-color: #e68321;
}

#introForest_details > #introSGyeonggi > .introForest_pic_ul li .intro_container .intro_top span{
	background-color: #00935d;
}
#introForest_details > #introGangwon > .introForest_pic_ul li .intro_container .intro_top span{
	background-color: #845ed1;
}
#introForest_details > #introChungbuk > .introForest_pic_ul li .intro_container .intro_top span{
	background-color: #6089d0;
}
#introForest_details > #introChungnam > .introForest_pic_ul li .intro_container .intro_top span{
	background-color: #3d9acc;
}
#introForest_details > #introJeonbuk > .introForest_pic_ul li .intro_container .intro_top span{
	background-color: #9d8b76;
}
#introForest_details > #introJeonnam > .introForest_pic_ul li .intro_container .intro_top span{
	background-color: #29bdaa;
}
#introForest_details > #introGyeongbuk > .introForest_pic_ul li .intro_container .intro_top span{
	background-color: #d56b98;
}
#introForest_details > #introGyeongnam > .introForest_pic_ul li .intro_container .intro_top span{
	background-color: #e68321;
}
#introForest_details > .introForest_pic > .introForest_pic_ul li .intro_container .intro_bottom{
	width:99.3%;
	height: 125px;	
	position: relative;
	border:1px solid #797d89;
}
#introForest_details > .introForest_pic > .introForest_pic_ul li .intro_container .intro_bottom dl{
	width:100%;
	height: 125px;	
	padding-left: 15px;
	font-size: 12px;
	letter-spacing: -2px;
}
#introForest_details > .introForest_pic > .introForest_pic_ul li .intro_container .intro_bottom dl dt{
	margin-top:20px;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: -1px;
	margin-bottom: 35px;
}

#introForest_details > .introForest_pic > .introForest_pic_ul li .intro_container .intro_bottom span {
	position: absolute;
	top: 10px;
	right: 10px;
	
}
