@CHARSET "UTF-8";
#container{
	width:1180px;
	margin:0 auto;
	border:1px solid red;
	min-height: 1000px;
	overflow: hidden;
}
#container .myChart{
	width:940px;
	height: 1000px;
	float: right;
	border:3px solid green;
}
